
__pycache__/
.pytest_cache/
output/run01
output/run02
output/run03
output/run04
output/run05
output/run06
output/run07
output/run08
output/run09
output/run07
output/run08
output/run09
output/run10/model*
output/run11*/model*
output/run12*/model*
output/run13*/model*
output/run14*/model*
output/run15*/model*
output/run16*/model*
output/run17*/model*
output/run*/model*